<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <app-recipe-item [recipe]="recipeItem" 
                         *ngFor="let recipeItem of recipes"
                         (recipeSelected)="onRecipeSelected(recipeItem)">
        </app-recipe-item> 
    </div>
    <div class="col-md-8">
        <app-recipe-detail *ngIf="selectedRecipe; else noRecipeTemplate" 
                            [selectedRecipe]="selectedRecipe">
        </app-recipe-detail>
        <ng-template #noRecipeTemplate>
            <p><strong>No Recipe Selected</strong></p>
        </ng-template>    
    </div>
</div>  
