<div class="row">
    <div class="col-md">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group" *ngIf="ingredients?.length > 0; else noIngredientTemplate">
            <a class="list-group-item" style="cursor: pointer;"
                *ngFor="let ingredient of ingredients">
                {{ingredient.name}} ({{ingredient.amount}})
            </a>
        </ul>
    </div>
</div>

<ng-template #noIngredientTemplate>
    <p><strong>No Ingredient Selected</strong></p>
</ng-template>
